/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #98fa98;
  display: inline-flex;
  font-family: 'B612', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto 3em;
}
h1 {
  margin: auto;
  font-size: 150px;
  color: rgb(247, 23, 90);
  -webkit-text-stroke: black 1px;
}

#snake-img {
  width: 65%;
  align-self: flex-start;
  margin: auto;
}

#canvas {
  
  border-radius: 5px;
  background-color: yellow;
}
.score{
  display:flex;
  flex-direction: column;
  margin-left: 20px;
  
 
  
}
.info{
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 5px solid red;
  width: 600px;
  height: 50px;
  background-color: rgb(98, 124, 102);
}
.snake{
  display: flex;
  flex-direction: column;
}

#modeGame{
  margin-left: 15px;
  background-color: rgb(206, 187, 17);
  padding: 4px 4px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

#modeType{
  margin-left: 50px;
}
#modeDiv{
  display: none;
  height: 2rem;
  margin-left: 50px;
}


/* POP UP MODEL */

/* .popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:500px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

button {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
} */